.logo {
    display: flex;
    line-height: 1;
    align-items: center;
}

header {
    background-color: #D1FAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 65px;
  }

  #nike {
    height: 50px;
  }

  body{
    background-color: rgb(178, 245, 178);
  }

  img {
    align-items: center;
    box-shadow: 0px 0px 20px;
    border: 1px solid black;
    
  }

 footer{
    background-color: #157145;
    box-shadow: 0px 0px 15px ;
    border: 1px solid black;
 }

 ol {
    background-color: antiquewhite;
    box-shadow: 0px 0px 20px;
    border: 1px solid black;
    text-align: center;
 }

 table {
    border: 1px solid black;
 }
 button {
  border-radius: 20px;
  color: red;
  background-color: blue;
 }